<div class="card">
  <div class="card-header flex">
    <h5 class="mb-0 flex-1">Edit Secret</h5>
  </div>
  <div class="card-body">
    <%= render "form.html", Map.put(assigns, :action, Routes.secret_path(@conn, :update, @secret)) %>
  </div>
</div>
