@tailwind base;
@tailwind components;

.h1, h1 {
  @apply text-4xl
}

.h2, h2 {
  @apply text-3xl
}

.h3, h3 {
  @apply text-2xl
}

.h4, h4 {
  @apply text-xl
}

.h5, h5 {
  @apply text-lg
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  @apply mb-2 font-medium leading-tight
}

a {
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-800;
}

/*
* ============================
* Alerts
*=============================
*/

.alert {
  @apply relative px-5 py-3 mb-4 rounded border border-transparent;
}

.alert-success {
  @apply text-green-800 bg-green-200 border-green-300;
}

.alert-danger {
  @apply text-red-800 bg-red-200 border-red-300;
}

.alert-info {
  @apply text-indigo-800 bg-indigo-200 border-indigo-300;
}

/*
* ============================
* Buttons
*=============================
*/

.btn {
  @apply inline-block font-normal text-center px-3 py-2 leading-normal text-base rounded cursor-pointer;
}

.btn-primary {
  @apply text-white bg-blue-600;
}

.btn-primary:hover {
  @apply text-white bg-blue-700
}

.btn-secondary {
  @apply text-white bg-gray-600;
}

.btn-secondary:hover {
  @apply text-white bg-gray-700
}

.btn-success {
  @apply text-white bg-green-600;
}

.btn-success:hover {
  @apply text-white bg-green-700
}

.btn-danger {
  @apply text-white bg-red-600;
}

.btn-danger:hover {
  @apply text-white bg-red-700
}

.btn-dark {
  @apply text-white bg-gray-900;
}

.btn-dark:hover {
  @apply text-white bg-black
}

.btn-link {
  @apply text-blue-500;
}

.btn-link:hover {
  @apply text-blue-800;
}

.btn.disabled, .btn:disabled, input[type="submit"]:disabled {
  opacity: .65;
  @apply pointer-events-none;
}

/*
* ============================
* Cards
*=============================
*/

.card {
  @apply flex flex-col relative bg-white rounded border border-gray-300 shadow;
}

.card-header {
  @apply py-3 px-5 mb-0 text-white bg-blue-800 border-b border-blue-800 rounded rounded-b-none
}

.card-body {
  @apply flex-auto p-5;
}

.card-img-top {
  @apply w-full rounded-t;
}

.card-link + .card-link {
  @apply ml-5;
}

.card-text {
  @apply my-0 mb-4;
}

.card-title {
  @apply mb-3 text-xl;
}

/*
* ============================
* Forms
*=============================
*/

form {
  @apply block;
}

label {
  @apply inline-block mb-2;
}

.form-check {
  @apply relative block pl-5;
}

.form-group {
  @apply mb-4;
}

.form-check-input {
  @apply absolute mt-1 -ml-5;
}

.form-check-label {
  @apply mb-0;
}

.form-control {
  @apply block w-full py-2 px-3 text-base font-normal leading-normal text-gray-700 bg-white border border-gray-400 rounded;
}

.form-inline {
  @apply flex flex-wrap flex-row items-center
}

.form-inline .form-control {
  @apply inline-block w-auto align-middle
}

.form-text {
  @apply block mt-1;
}

/*
* ============================
* Tables
*=============================
*/

th {
  text-align: inherit;
}

.table {
  @apply w-full text-gray-900
}

.table thead th {
  @apply align-bottom border-b-2 border-gray-300
}

.table td, .table th {
  @apply p-3 border-t border-gray-300
}

.table.table-bordered {
  @apply border border-gray-300
}

.table-bordered td, .table-bordered th {
  @apply border border-gray-300
}

@tailwind utilities;
